<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <a href="/index.html"><img src="/images/logo.png" class="logo"/></a>
            </div>
            <div class="col-md-4">
                {% if page.version %}
                <h1>Version: {{page.version}}</h1>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<!--Header End-->
<!--Navigation Begin-->
<div class="navbar" role="banner">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/index.html" id="home">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="documentation">Documentation <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% assign shown = 0 %}
                        {% for r in site.data.releases %}
                        {% if r.documented and shown < 3 %}
                        <li><a href="/releases/{{r.name}}/index.html">{{r.name}}</a></li>
                        {% assign shown = shown | plus: 1 %}
                        {% endif %}
                        {% endfor %}
                        <li role="separator" class="divider"></li>
                        <li><a href="/older-releases.html">Older Versions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="about">About <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/integrates.html">Integrates</a></li>
                        <li><a href="/about/simple-api.html">Simple API</a></li>
                        <li><a href="/about/scalable.html">Scalable</a></li>
                        <li><a href="/about/fault-tolerant.html">Fault tolerant</a></li>
                        <li><a href="/about/guarantees-data-processing.html">Guarantees data processing</a></li>
                        <li><a href="/about/multi-language.html">Use with any language</a></li>
                        <li><a href="/about/deployment.html">Easy to deploy and operate</a></li>
                        <li><a href="/about/free-and-open-source.html">Free and open source</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="community">Community <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/getting-help.html">Getting Help</a></li>
                        <li><a href="/contribute/Contributing-to-Storm.html">Contributing</a></li>
                        <li><a href="/team/">Team</a></li>
                        <li><a href="/contribute/BYLAWS.html">ByLaws</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/talksAndVideos.html">Talks and Slideshows</a></li>
                    </ul>
                </li>
                <li><a href="/news.html" id="news">News</a></li>
                <li><a href="/security-model.html" id="security-model">Security</a></li>
                <li><a href="/downloads.html" id="download">Download</a></li>
            </ul>
        </nav>
    </div>
</div>


